openapi: 3.2.0
info:
  title: Mixpanel Query Cohorts API
  description: API for querying and retrieving analytics data from Mixpanel, including cohorts, funnels, insights, retention, segmentation, activity feeds, and event breakdowns.
  version: '2.0'
  contact:
    name: Mixpanel Support
    email: support@mixpanel.com
    url: https://mixpanel.com/get-support
  termsOfService: https://mixpanel.com/legal/terms-of-use
servers:
- url: https://mixpanel.com/api/2.0
  description: Mixpanel US Data Residency
- url: https://eu.mixpanel.com/api/2.0
  description: Mixpanel EU Data Residency
security:
- basicAuth: []
tags:
- name: Cohorts
  description: Manage and query user cohorts
paths:
  /cohorts/list:
    get:
      operationId: listCohorts
      summary: Mixpanel List cohorts
      description: Retrieve a list of all cohorts defined in the project.
      tags:
      - Cohorts
      parameters:
      - name: project_id
        in: query
        required: true
        schema:
          type: integer
        description: The Mixpanel project ID
      responses:
        '200':
          description: List of cohorts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cohort'
        '401':
          description: Unauthorized
components:
  schemas:
    Cohort:
      type: object
      properties:
        id:
          type: integer
          description: Unique cohort identifier
        name:
          type: string
          description: Cohort name
        description:
          type: string
          description: Cohort description
        count:
          type: integer
          description: Number of users in the cohort
        created:
          type: string
          format: date-time
          description: When the cohort was created
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Service account credentials. Use the service account username as the username and the service account secret as the password.
externalDocs:
  description: Mixpanel Query API Documentation
  url: https://developer.mixpanel.com/reference/query-api
