openapi: 3.1.0
info:
  title: Mixpanel Annotations Export API
  description: API for creating, retrieving, updating, and deleting annotations that label specific points in time on Mixpanel charts with descriptions, useful for marking product launches, campaigns, or data anomalies.
  version: '1.0'
  contact:
    name: Mixpanel Support
    email: support@mixpanel.com
    url: https://mixpanel.com/get-support
  termsOfService: https://mixpanel.com/legal/terms-of-use
servers:
- url: https://mixpanel.com/api/app
  description: Mixpanel US Data Residency
- url: https://eu.mixpanel.com/api/app
  description: Mixpanel EU Data Residency
security:
- basicAuth: []
tags:
- name: Export
  description: Export raw event data
paths:
  /export:
    get:
      operationId: exportRawEvents
      summary: Mixpanel Export raw events
      description: Download raw event data for a date range. Returns newline-delimited JSON (NDJSON) where each line is a JSON object representing one event. The response can be very large for projects with high event volumes.
      tags:
      - Export
      parameters:
      - name: from_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Start date for export (YYYY-MM-DD)
      - name: to_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date for export (YYYY-MM-DD)
      - name: event
        in: query
        schema:
          type: array
          items:
            type: string
        description: Filter to specific event names (JSON-encoded array)
      - name: where
        in: query
        schema:
          type: string
        description: Expression to filter events (e.g., 'properties["$os"] == "iPhone OS"')
      - name: project_id
        in: query
        schema:
          type: integer
        description: The Mixpanel project ID
      responses:
        '200':
          description: Raw event data in newline-delimited JSON format
          content:
            application/x-ndjson:
              schema:
                type: string
                description: Newline-delimited JSON where each line is an event object with event name and properties
            application/json:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    description: Event name
                  properties:
                    type: object
                    additionalProperties: true
                    description: Event properties including distinct_id and time
        '400':
          description: Invalid date range or parameters
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Service account credentials for API authentication.
externalDocs:
  description: Mixpanel Annotations API Documentation
  url: https://developer.mixpanel.com/reference/create-annotation
