openapi: 3.1.0
info:
  title: Mixpanel Annotations Funnels API
  description: API for creating, retrieving, updating, and deleting annotations that label specific points in time on Mixpanel charts with descriptions, useful for marking product launches, campaigns, or data anomalies.
  version: '1.0'
  contact:
    name: Mixpanel Support
    email: support@mixpanel.com
    url: https://mixpanel.com/get-support
  termsOfService: https://mixpanel.com/legal/terms-of-use
servers:
- url: https://mixpanel.com/api/app
  description: Mixpanel US Data Residency
- url: https://eu.mixpanel.com/api/app
  description: Mixpanel EU Data Residency
security:
- basicAuth: []
tags:
- name: Funnels
  description: Analyze conversion funnels
paths:
  /funnels:
    get:
      operationId: queryFunnels
      summary: Mixpanel Query funnel data
      description: Query funnel conversion data for a defined sequence of events. Returns conversion rates and counts at each step.
      tags:
      - Funnels
      parameters:
      - name: project_id
        in: query
        required: true
        schema:
          type: integer
        description: The Mixpanel project ID
      - name: funnel_id
        in: query
        required: true
        schema:
          type: integer
        description: The ID of the funnel to query
      - name: from_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Start date (YYYY-MM-DD)
      - name: to_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date (YYYY-MM-DD)
      - name: length
        in: query
        schema:
          type: integer
        description: Number of units in the conversion window
      - name: length_unit
        in: query
        schema:
          type: string
          enum:
          - day
          - hour
          - minute
        description: Unit of time for the conversion window
      - name: interval
        in: query
        schema:
          type: integer
        description: Number of days per data point
      - name: true
        in: query
        schema:
          type: string
        description: Property expression to segment results
      - name: where
        in: query
        schema:
          type: string
        description: Expression to filter events
      - name: limit
        in: query
        schema:
          type: integer
        description: Maximum number of segment values to return
      responses:
        '200':
          description: Funnel query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelResponse'
        '400':
          description: Invalid query parameters
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded
  /funnels/list:
    get:
      operationId: listFunnels
      summary: Mixpanel List funnels
      description: Retrieve a list of all saved funnels in the project.
      tags:
      - Funnels
      parameters:
      - name: project_id
        in: query
        required: true
        schema:
          type: integer
        description: The Mixpanel project ID
      responses:
        '200':
          description: List of funnels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunnelSummary'
        '401':
          description: Unauthorized
components:
  schemas:
    FunnelResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            dates:
              type: object
              additionalProperties:
                type: object
                properties:
                  steps:
                    type: array
                    items:
                      $ref: '#/components/schemas/FunnelStep'
    FunnelStep:
      type: object
      properties:
        count:
          type: integer
          description: Number of users who completed this step
        avg_time:
          type: number
          description: Average time to complete this step in seconds
        goal:
          type: string
          description: Event name for this step
        overall_conv_ratio:
          type: number
          description: Conversion rate from step 1 to this step
        step_conv_ratio:
          type: number
          description: Conversion rate from previous step to this step
    FunnelSummary:
      type: object
      properties:
        funnel_id:
          type: integer
          description: Unique funnel identifier
        name:
          type: string
          description: Funnel name
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Service account credentials for API authentication.
externalDocs:
  description: Mixpanel Annotations API Documentation
  url: https://developer.mixpanel.com/reference/create-annotation
